//@font-face {
//  font-family: "nunito";
//  font-weight: 100;
//  font-style: normal;
//  src: url("../fonts/akrobatthin.woff2") format("woff2");
//  font-display: swap;
//
//}
//
//@font-face {
//  font-family: "akrobat";
//  font-weight: 100;
//  font-style: normal;
//  src: url("../fonts/akrobatthin.woff2") format("woff2");
//  font-display: swap;
//
//}


@font-face {
  font-family: "nunito";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/nunito-regular.woff2") format("woff2");
  font-display: swap;

}

@font-face {
  font-family: "montserrat";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/montserrat-bold.woff2") format("woff2");
  font-display: swap;
}



@font-face {
  font-family: "montserrat";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/montserrat-black.woff2") format("woff2");
  font-display: swap;
}
