$accent: gray;
$black: #151D28;
$red: #CA3C25;
$grey: #415167;
$green: #96B433;
$brown: #461905;

$mobile-min: 320px;
$mobile-max: 420px;
$mobile: 768px;
$tablet: 1200px;
$desktop-min: 1440px;
$desktop: 1920px;
$desktop-max: 2750px;


$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// transition
$transition-timing-function: linear;
$transition-duration: 100ms;
