$accent: gray;
$black: #151D28;
$red: #CA3C25;
$grey: #415167;
$green: #96B433;
$brown: #461905;

$mobile: 320px;
$mobile-max: 576px;
$tablet: 768px;
$tablet-max: 1200px;
$desktop-min: 1790px;
$desktop: 1920px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// transition
$transition-timing-function: linear;
$transition-duration: 100ms;
