<section class="teaser">
    {# <h1>Teaser</h1> #}
    <div class="teaser-panel"></div>
    <div class="teaser-title">
        <div class="teaser-title__wrapper">
            <span>Ядро</span>
            <div class="teaser-title__marked">
                <span>кедрового</span>
            </div>
            <span>ореха</span>
        </div>
        <div class="teaser-title__button">
            <button type="button" class="button">Купить</button>
        </div>
    </div>
    <div class="teaser-bg">
        <span class="teaser__city">г.Красноярск</span>

        <a class="teaser__phone" href="tel:+79050865756">+7 (905) 086 57 56</a>
    </div>

</section>
