<section class="teaser">
    {# <h1>Teaser</h1> #}
    <div class="teaser-panel"></div>
    <div class="teaser-title">
        <p class="teaser-title__wrapper">
            <span>Ядро</span>
            <span class="teaser-title__marked">кедрового</span>
            <span>ореха</span>
        </p>
        <button type="button" class="button">Купить</button>
    </div>
</section>
